div {
  background-color: var(--Sand);
}

.message-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  text-align: center;
}

.response-container {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  justify-content: space-around;
  flex-direction: column;
  padding: 24px;
}

.response-container > * {
  margin: 18px 24px;
}

.response-message {
  text-align: center;
}

.redirect-button {
  flex-grow: unset;
}

.bottom-spacer {
  flex-grow: 1;
}
