<div class="search-bar">
  <form
    class="input-wrapper"
    [formGroup]="searchForm"
    (ngSubmit)="handleSubmit()"
  >
    <input
      type="search"
      class="input-field"
      placeholder="Card name"
      formControlName="search"
      (click)="clearInput()"
      #inputField
    />
    <img
      src="../../assets/icon-search.svg"
      alt="Search Icon"
      class="input-icon"
    />
  </form>
  <button class="list-button" (click)="navigateToList()">
    <img src="../../assets/icon-list.svg" alt="List Icon" class="list-icon" />
    {{ displayTotal | currency }}
  </button>
</div>
