<div class="search-bar">
  <form
    class="input-wrapper"
    [formGroup]="searchForm"
    (ngSubmit)="handleSubmit()"
  >
    <input
      type="search"
      class="input-field"
      placeholder="Card name"
      formControlName="search"
      #inputField
    />
    <img
      ngSrc="/icon-search.svg"
      alt="Search Icon"
      class="input-icon"
      width="16"
      height="16"
    />
  </form>
  <button class="list-button" (click)="navigateToList()">
    <img
      ngSrc="/icon-list.svg"
      alt="List Icon"
      class="list-icon"
      width="12"
      height="20"
    />
    {{ total() | currency }}
  </button>
</div>
