.outlet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-height: calc(100vh - 110px); /* header = 110px tall */
}

.footer-container {
  width: 100%;
}
