.header-container {
  margin-bottom: 18px;
  /* currently content+padding = 92px, so including margin = 110px */
}

.outlet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100vh - 110px); /* header = 110px tall */
}

.footer-container {
  width: 100%;
}
