/* You can add global styles to this file, and also import other style files */
:root {
  /* text */
  --Ink: #160f29;
  /* buttons */
  --Island: #368f8b;
  /* hover */
  --IslandDark: #246a73;
  /* backgrounds */
  --Sand: #fff8ef;
  /* accents */
  --Shadow: #f4e4d8;
  /* light */
  --White: #ffffff;
  /* placeholder */
  --InkLight: #a4998e;
  /* line items */
  --Air: #fbfbfc;
  /* list button hover */
  --Shaded: #e2d1c5;
}

body {
  margin: 0;
}

.bg-sand {
  background-color: var(--Sand);
}

.bg-white {
  background-color: var(--White);
}

.footer-min {
  min-height: 70px; /* ==110px with padding. fill up space if header isn't present */
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100vh - 110px); /* header = 110px tall */
}

* {
  color: var(--Ink);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: -0.2px;
}

.button-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.large-button {
  margin: auto 24px 18px 24px;
  max-width: 100%;
  border-radius: 8px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.primary-button-style {
  border: 1px solid var(--Island);
  background-color: var(--Island);
  color: var(--White);
}

.primary-button-style:hover {
  background-color: var(--IslandDark);
}

.secondary-button-style {
  border: 1px solid var(--Shadow);
  background-color: var(--White);
}

.secondary-button-style:hover {
  background-color: var(--Sand);
}
