<div class="component-container">
  <div>
    <app-header></app-header>
    @if (!displayList || displayList.length == 0){
    <div class="empty-list">Add cards to your list!</div>
    } @for (item of displayList; track item.id; let i = $index) {
    <div
      class="card-list-item"
      [class.alternate-item]="i % 2 == 1"
      (click)="onItemClick(item)"
    >
      <p class="card-list-item-typography" [class.alternate-item]="i % 2 == 1">
        {{ item.count }} {{ item.name }}
      </p>
      <p class="card-list-item-typography" [class.alternate-item]="i % 2 == 1">
        {{ item.price | currency }}
      </p>
    </div>
    }
  </div>
  <div class="bottom-anchor">
    @if (isModalActive) {
    <div class="total-container">
      <div class="total-label">Clear list?</div>
    </div>
    <div class="button-container">
      <button class="large-button primary-button-style" (click)="onConfirm()">
        Yee
      </button>
    </div>
    <div class="button-container">
      <button class="large-button secondary-button-style" (click)="onCancel()">
        Cancel
      </button>
    </div>
    } @else {
    <div class="total-container">
      <a class="total-label">Total</a>
      <a class="total-price">{{ totalPrice | currency }}</a>
    </div>
    <div class="button-container">
      <button
        class="large-button secondary-button-style"
        (click)="onClearList()"
      >
        Clear list
      </button>
    </div>
    }
  </div>
</div>
