:host {
  height: auto !important;
  min-height: calc(100vh - 110px);
}

.suggestions-list {
  display: grid;
  flex-grow: 1;
  padding: 0px 24px;
  gap: 24px;
  margin-bottom: 18px;
  align-content: center;
  grid-template-columns: repeat(var(--cols, 1), minmax(146px, 1fr));
}

.suggestion-question {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  padding: 0px 24px;
  margin-bottom: 18px;
}

.suggestion-item {
  min-width: 146px;
  min-height: 204px;
}

.card-image {
  border-radius: 4.75% / 3.5%; /* ty scryfall */
  width: 100%;
  height: auto;
  min-width: 146px;
  min-height: 204px;
  display: block;
}
