.count-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 0px 24px 18px;
}

.small-button {
  flex-grow: 1;
  max-width: 33%;
}

.count-button {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
