<app-card-display [card]="card()">
  <div class="count-container">
    <div class="button-container small-button">
      <button
        class="secondary-button-style count-button text label"
        (click)="decrement()"
        [disabled]="disablerDecrement()"
      >
        -
      </button>
    </div>
    <div class="text label">{{ quantity() }}</div>
    <div class="button-container small-button">
      <button
        class="secondary-button-style count-button text label"
        (click)="increment()"
        [disabled]="disablerIncrement()"
      >
        +
      </button>
    </div>
  </div>
  <div class="button-container">
    <button
      class="large-button secondary-button-style"
      (click)="remove()"
      [disabled]="isPatching()"
    >
      Remove
    </button>
  </div>
</app-card-display>

<app-adsense-ad></app-adsense-ad>
