div {
  background-color: var(--Sand);
}

.title-container {
  flex-grow: 2;
  text-align: center;
  align-content: center;
  font-size: x-large;
  font-weight: 700;
  line-height: 150%;
}

.instructions {
  text-align: center;
  font-size: larger;
}

.bottom-spacer {
  flex-grow: 2;
}

.user-input-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Sand);
}

.input-container {
  display: flex;
  justify-content: center;
  flex-grow: 3;
}

.input-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 24px;
  background-color: var(--Sand);
  width: 70%;
  max-width: 500px;
}

.input-spacer {
  flex-grow: 1;
}

.input-input {
  margin: 0px 24px;
}

.input-field {
  border-radius: 8px;
  border: 1px solid var(--Shadow);
  background: var(--White);
  height: 44px;
  padding: 10px 10px 10px 36px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 18px;
}

.input-button {
  flex-grow: 0.2;
}

.input-field::placeholder {
  color: var(--InkLight);
  opacity: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ng-touched.ng-invalid:not(form) {
  border: 1px dashed rgb(170, 0, 0);
}

.email-sent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Sand);
}
