<div class="login-container">
  <div class="title-container">
    <h1 class="app-title">Glimpse</h1>
  </div>
  @if(!emailSent){
  <div class="user-input-container">
    <form
      class="input-wrapper"
      [formGroup]="searchForm"
      (ngSubmit)="handleSubmit()"
    >
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        class="input-field"
        placeholder="example@example.com"
        formControlName="email"
      />
      <div class="button-container">
        <button class="large-button primary-button-style" type="submit">
          Send Email
        </button>
      </div>
    </form>
  </div>
  } @else {
  <div>Email successfully sent, please follow the link in it.</div>
  }
</div>
