<div class="disclaimers" [class]="minSize()">
  <div>
    Glimpse is unofficial Fan Content permitted under the Fan Content Policy.
    Not approved/endorsed by Wizards. Portions of the materials used are
    property of Wizards of the Coast. ©Wizards of the Coast LLC.
  </div>
  <div>
    Glimpse is not endorsed or affliated with Scryfall. Scryfall's API is being
    used to present simplified card prices as provided from Scryfall. No
    guarantee is made for the accuracy of prices. Please go to Scryfall and use
    their affliate links.
  </div>
</div>
